* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
background-color: #000; 
color: #fff; 
}

header .wrapper {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 940px; 
  margin: 0 auto; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 10px 10px;
}

nav ul li a {
text-decoration: none;
color: white;
}

#hero {
  display: flex;                      
  justify-content: center;             
  align-items: center; 
  height: 600px; 
  background-image: url('../images/hands-typing.jpg'); 
  background-position: center center; 
  background-size: cover; 
  filter:grayscale(70%) 
}

#hero h1 {
font-size: 3rem;
color: white;
max-width: 60%; 
background-color: rgba(0, 0, 0, 0.5); 
text-shadow: 2px 2px 6px #000; 
padding: 15px;
max-width: 600px;
text-align: center;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}


#services {
background-color: #fafafa; 
display: flex;
justify-content: center;
padding: 50px 20px;
}

#services .wrapper h2 {
  font-size: 2rem;
  width: 100%;
  display: grid;
  margin-bottom: 40px;
  text-align: center; 
}

#about-me .wrapper {
display: flex;
align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.article-card {
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-card .button {
  margin-top: auto; 
  padding: 10px 10px; 
  background: black; 
  color: white; 
  text-decoration: none;
  border: 2px solid black; 
}

.article-card .button:hover {
  background: white; 
  color: black; 
  border: 2px solid black;  
}


#work .wrapper {
  max-width: 940px;
  margin: 0 auto; 
  text-align: center; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-areas: 
    "img1 img2 img2"
    "img3 img4 img5";
  max-width: 940px;
  margin: 0 auto;
}

.image-grid img:nth-child(1) { grid-area: img1; }
.image-grid img:nth-child(2) { grid-area: img2; }
.image-grid img:nth-child(3) { grid-area: img3; }
.image-grid img:nth-child(4) { grid-area: img4; }
.image-grid img:nth-child(5) { grid-area: img5; }

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}
